{{> sidebar}}
<main>
  <h1>Create Custom Messages</h1>
  <form>
    <label for="new-message">What would you like me to say</label>
    <input type="text" name="new-message" />
    <button>Create Message</button>
  </form>
  <ul>
    {{#each messages}}
    <li>{{message}}</li>
    {{/each}}
  </ul>
</main>
<script type="text/javascript" src="src/customMessages.bundle.js" defer></script>
