{{> sidebar }}
<main class="dashboard">
  <section class="reading">
    <h3>22.3dps</h3>
    <p>{{team_name}}</p>
  </section>
  <section class="characters">
    <button class="character character__stress"type="button" name="button">
      <img src="/images/stress-character.png" alt=""/>
    </button>
    <button class="character character__tall" type="button" name="button">
      <img src="/images/tall-character.png" alt=""/>
    </button>
    <button class="character character__horn" type="button" name="button">
      <img src="/images/horn-character.png" alt=""/>
    </button>
  </section>
</main>
<script type="text/javascript" src="src/dashboard.bundle.js" defer></script>
