{{> sidebar}}
<main class="info">
  <h2 class="welcome">Welcome. Add a device!!</h2>
  <h1>{{team_name}}</h1>
  <p class="channel">{{channel}}</p>
  <form>
    <input type="text" name="device"/>
    <button>ADD</button>
  <form>
</main>
<script type="text/javascript" src="src/info.bundle.js" defer></script>
