{{> sidebar}}
<main>
  <h1>{{team_name}}</h1>
  <p>{{channel}}</p>
  <form>
    <input type="text" name="device" value=""/>
    <button>ADD</button>
  <form>
  <output name="device-results"></output>
</main>
<script type="text/javascript" src="src/info.bundle.js" defer></script>
