{{> sidebar}}
<main>
  <div class="slider__container slider__container-js">
    <div class="slider slider-js">

    </div>
  </div>
  <div class='slider__info slider__info-js'>info</div>
</main>
<script type="text/javascript" src="src/schedule.bundle.js" defer></script>
