.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reading {
  display: flex;
  height: 72%;
  justify-content: center;
  align-items: center;
}

.reading h3 {
  color: white;
  font-size: 5rem;
}

.characters {
  display: flex;
  height: 28%;
  width: 100%;
}

.character {
  height: 100%;
  width: auto;
}

.character img {
  height: 100%;
  width: auto;
  border: 6px solid yellow;
}

.character__stress {

}

.character__tall {

}

.character__horn {

}
