<aside class="sidebar">
  <nav>
    <a class="active" href=`/dashboard`><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    <a href="/custom-messages"><i class="fa fa-comments fa-3x" aria-hidden="true"></i></a>
    <a href="/graph"><i class="fa fa-signal fa-3x" aria-hidden="true"></i></a>
    <a href="/schedule"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></a>
  </nav>
  {{team_name}}
</aside>
