<aside class="sidebar">
  <nav>
    <a class="link__dashboard" href="/dashboard"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    <a class="link__custom-messages" href="/custom-messages"><i class="fa fa-comments fa-2x" aria-hidden="true"></i></a>
    <a class="link__graph" href="/graph"><i class="fa fa-signal fa-2x" aria-hidden="true"></i></a>
    <a class="link__schedule" href="/schedule"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></a>
  </nav>
</aside>
