<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js" defer></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.js"></script>
  <script type="text/javascript" src="src/socket.bundle.js" defer></script>
  <script src="https://use.fontawesome.com/0bbb5a6fc0.js"></script>
  <link rel="stylesheet" href="/css/style.min.css">
</head>
<body class="{{indexBody}}">
  <figure class="logo__container {{indexPage}}">
    <img src="images/shut-up-tom-logo.png" alt="Shut Up Tom Logo" />
  </figure>
  {{{ body }}}
</body>
</html>
